# transports
transport.size              = 1
transport-0.type            = UDP4_UNICAST
transport-0.capabilities    = HUB
transport-0.bind_address    = 0.0.0.0:12345
transport-0.peer_cache_file = peers.csv
transport-0.peer.size       = 1
transport-0.peer-0.address  = therooftoppri.nz:12345

# security
security.confidentiality_suite.size           = 4
security.confidentiality_suite-0.algorithm    = 0,NONE
security.confidentiality_suite-1.algorithm    = 1,AES128
security.confidentiality_suite-2.algorithm    = 2,AES256
security.confidentiality_suite-3.algorithm    = 3,CHACHA20

security.integrity_suite.size                 = 4
security.integrity_suite-0.algorithm          = 0,NONE
security.integrity_suite-1.algorithm          = 1,HMAC_SHA2_512
security.integrity_suite-2.algorithm          = 2,HMAC_SHA2_256
security.integrity_suite-3.algorithm          = 3,HMAC_BLAKE3

security.private_key_file                     = private_keys.csv
security.public_key_file                      = public_keys.csv

# node
node.id.size                                  = 1
node.id-0.node_id                             = FF:FF:10:04